*, *:before, *:after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow: hidden;
}

.app-center {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .button {
    transform: scale(2);
    min-width: 50px;
  }
}