@import "../viewports";

.ChatComponent {
  .nav {
    background: rgba(#00acee, 0.65);

    @include viewports(up-to small) {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 10;
      background: rgba(#00acee, 1);
    }

    .nav-item {
      color: #fff;
    }
  }

  .menu {
    max-width: 200px;
    height: calc(100vh - 52px);
    padding: 1rem;
    background: #00acee;
    border-right: 1px solid #e0e0e0;
    color: #fff;

    .menu-label {
      color: #fff;
    }

    .menu-list a {
      color: #fff;

      &:hover {
        background: #fff;
        color: #00acee;
      }
    }
  }

  .fixed-200 {
    width: 200px;
    max-width: 200px;
    padding-right: 0;

    @include viewports(up-to small) {
      display: none;
    } 
  }

  .center-status {
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .chat-window {
    padding-left: 0;

    @include viewports(up-to small) {
      padding-left: 10px;
      margin-top: 52px;
    }
  }
}