@import "../viewports";

.ChatDetailsComponent {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: calc(100vh - 108px);
  overflow: auto;
  background:rgba(#0078ff, 0.05);

  @include viewports(up-to small) {
    height: calc(100vh - 108px);
  }

  .app-msg-balloon {
    background: #fff;
    box-shadow: 0 0 0 1px rgba(#000, 0.1) inset;
    border-radius: 4px;
    margin: 10px;
    padding: 10px 15px;
    display: inline-block;
    align-self: flex-start;

    &.me {
      align-self: flex-end;
      background: #eaeef9;
    }

    small {
      opacity: 0.5;
      font-size: 11px;
      display: block;
      
      i {
        font-size: 14px;
        margin-top: 1px;
      }
    }
  }
  
  .chat-input {
    position: fixed;
    right: 0;
    bottom: 0;
    width: calc(100% - 188px);
    padding: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0 -1px 0 rgba(0,0,0,0.1);

    @include viewports(up-to small) {
      width: 100%;
    }

    .field {
      @include viewports(up-to small) {
        flex: 1;
      }

      .control:first-child {
        @include viewports(up-to small) {
          flex: 1;
        }
      }
    }

    input {
      width: 500px;

      @include viewports(up-to small) {
        width: 100%;
      }
    }
  }
}